#back {
  background: url("../../../../assets/img/back2.jpg") no-repeat center center
    fixed;
  display: table;
  height: calc(100vh - 160px);
  width: 100%;
  position: relative;
  background-size: cover;
  padding-bottom: 2%;
}

.m {
  align-self: center;
}
