<div class="card">
  <div class="card-header">
    <strong>Filtrare transporturi</strong>
  </div>

  <div class="card-body">
    <form #filtruForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="from">Țară încărcare</label>
        <input
          required
          pattern="^[A-Za-z]*$"
          type="text"
          name="taraIncarcare"
          [(ngModel)]="taraIncarcare"
          id="taraIncarcare"
          class="form-control"
          placeholder="Introduceți țara pentru încărcare(Ex. Ro)"
        />
      </div>

      <div class="form-group">
        <label for="to">Țară Descărcare</label>
        <input
          required
          pattern="^[A-Za-z]*$"
          type="text"
          name="taraDescarcare"
          [(ngModel)]="taraDescarcare"
          id="taraDescarcare"
          class="form-control"
          placeholder="Introduceți țara pentru descărcare(Ex. Gr)"
        />
      </div>

      <button
        type="submit"
        [disabled]="filtruForm.invalid"
        class="btn btn-block"
      >
        Caută transporturi <i class="fas fa-paper-plane"></i>
      </button>
    </form>
    <app-button
      color="{{ showAddTask ? 'red' : '#ffb42e' }}"
      text="Toate transporturile"
      (btnClick)="toateCursele()"
    ></app-button>

    <div class="col-md-8">
      <select
        id="select"
        [(ngModel)]="sortParam"
        [ngModelOptions]="{ standalone: true }"
      >
        <option value="Pret">Preț</option>
        <option value="Km">Distanță</option>
      </select>

      <app-button
        color="#ffb42e"
        text="Sortează"
        (btnClick)="onSortDirection()"
      ></app-button>
    </div>
  </div>
</div>
