<footer class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-4">
      <h2>Contactaţi-ne</h2>
      <h4>Bulevardul Regina Elisabeta Nr. 4-12, București 030018</h4>
    </div>
    <div class="col-sm-4">
      <h2>Contact</h2>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter" id="twit"></i></a>
      <a href="#"><i class="fab fa-google id" id="goo"></i></a>
      <a href="#"><i class="fab fa-instagram" id="insta"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="col-sm-4">
      <a href="https://www.omv.ro/ro-ro" target="_blank"
        ><i class="fas fa-gas-pump"></i
      ></a>
    </div>
  </div>
</footer>
